{% extends 'authuser/base.html' %}
{% load static %}
{% block content %}
    <style>

    </style>
    <div class="container center">
        <center>
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logo.png' %}" style="width: 150px;"
                     class="d-inline-block align-top" alt="icanupload.com">
            </a>
        </center>
        <form id="login-form">
            {% csrf_token %}
            <div class="form-group" style="margin-top: 2rem;">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username, email"
                       autocomplete="off">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                       autocomplete="off" style="margin-top: 1rem">
            </div>
            <p id="error-msg"></p>
            <button type="submit" style="width: 100%;" class="btn btn-primary">Log In</button>
        </form>
        <div class="login-signup" style="margin-top: 1rem">
            Don't have an account? <a href="{% url 'auth:signup' %}">Sign up</a>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/custom_js/authuser/login.js' %}"></script>
{% endblock %}