
html {
    background: url(../../Images/background.jpg) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    background: transparent;
    width: 100%;
    max-width: 40cm;
    height: auto;
    display: block;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0645ad;
}

a:hover {
    text-decoration: underline;
}

input:focus {
    outline:0px !important;
}

.tagline {
    /*        line-height: 2.10em;*/
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.09em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

#upload_outer_div {
    margin-top: 28vh;
}

#upload_btn {
    margin-top: 15px;
}
#getFile{
    display: none;
}
#form_upload button{
    display: none;
}
