{% extends '../base.html' %}
{% block content %}

    <div class="row" id="upload_outer_div">
        <div class="col-md-12" style="text-align: center;">
            <h2 class="tagline">No matter where you go – <br>take your files with you</h2>
            <div class="button" id="upload_btn">Upload</div>
            <input type="file" name="file" id="getFile" autocomplete=off
                   multiple/>
            <input type="hidden" id="Hiddate" name="Hiddate"/>
        </div>
    </div>

{% endblock %}
