{% load static %}
<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/">
        <img src="{% static 'Images/logo.png' %}" style="width: 200px;padding-top: 10px"
             class="d-inline-block align-top" alt="icanupload.com">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <a class="nav-link" href="/auth/signup">SIGN UP</a>
        <form method="get" class="form-inline" id="search_form">
            <input class="form-control mr-sm-2" type="search" id="search_key" placeholder="enter key"
                   aria-label="Search" value="{{ key }}" autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>